<%#TODO : ADD
  <link rel="stylesheet" href="/css/components/footer.css"> in parent file%> 
  <%#TODO : ADD<script src="/script/components/footer.js"></script>
in parent file%>
<div class="container-fluid cs-navbar" style="z-index: 1; max-width: 100%;" >
  <div class="row d-flex flex-wrap p-1">
    <div
      class="col-sm-12 d-flex justify-content-center flex-column"
      id="inner-row-1"
    >
      <p
        class="text-capitalize text-center text-white fs-3 p-1"
        id="site-name"
        style="margin-bottom: 0px"
      >
        <%= brandName %>  Ecommerce
      </p>
      <ul class="ul-1 d-flex justify-content-center">
        <li class="px-3">
          <a href=""
            ><i class="fa fa-twitter text-white" aria-hidden="true"></i>
          </a>
        </li>
        <li class="px-3">
          <a href=""
            ><i class="fa fa-linkedin text-white" aria-hidden="true"></i>
          </a>
        </li>
        <li class="px-3">
          <a href=""
            ><i class="fa fa-google-plus text-white" aria-hidden="true"></i>
          </a>
        </li>
        <li class="px-3">
          <a href=""
            ><i class="fa fa-facebook text-white" aria-hidden="true"></i>
          </a>
        </li>
      </ul>

      <p
        class="text-capitalize text-center text-white p-0"
        style="margin-bottom: 0px"
      >
        <%= copyright %> 
      </p>
    </div>
  </div>
  <div class="row text-center mt-1"></div>
</div>
