<%# <div style="display: flex; justify-content: center; align-items: center">
  <div class="d-flex justify-content-center align-items-center">
    <div
      class="spinner-border text-primary"
      role="status"
      style="width: 2rem; height: 2rem"
    >
      <span class="">Loading...</span>
    </div>
  </div>
</div> %>
<div class="d-grid gap-2 my-3">
  <button class="btn btn-primary" type="button" disabled>
    <span
      class="spinner-border spinner-border-sm"
      role="status"
      aria-hidden="true"
    ></span>
    Verifying Details...
  </button>
</div>
