:root {
  --primary: #4e73df;
  --Success: #1cc88a;
  --info: #36b9cc;
  --warning: #f6c23e;
  --danger: #e74a3b;
  --secondary: #858796;
  --light: #f8f9fc;
  --dark: #5a5c69;
}

.d-none-cs {
  display: none;
}

.cs-input {
  border-radius: 15rem;
  font-size: 1rem;
  padding: 0.7rem 1rem;
}

.btn-user {
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 0.75rem 1rem;
}

/* remove blue border on focus */
form .form-control:focus {
  border-color: #ced4da;
  box-shadow: none;
}

.cs-navbar {
  background: #4267b2;
}

.danger {
  border-color: var(--danger);
}

@media (max-width: 801px) {
  .w-50 {
    min-width: 90%;
  }

  .container {
    margin: 0 auto;
  }
}
