<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <!-- https://cdnjs.com/libraries/twitter-bootstrap/5.0.0-beta1 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css"
    />

    <!-- Icons: https://getbootstrap.com/docs/5.0/extend/icons/ -->
    <!-- https://cdnjs.com/libraries/font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />

    <title>Forget Password</title>
    <style>
      .cs-navbar {
  background: #4267b2;
}
    </style>
  </head>
  <body>
      <%-include("../partials/admin/header.ejs") %> 
      <div class="container border my-5 w-75">
        <div class="row ">
          <form class=" " method="POST" action="/forget" id="forget">
            <div class="mb-3">
              <label for="username" class="form-label">
                Find your profile
                <span id="msg"></span>
              </label>
              <input type="text" class="form-control" name="username"  id="username" value="">
              <div id="emailHelp" class="form-text">Please enter your username</div>
            </div>
            <button type="submit" class="btn btn-primary" id="submit">Submit</button>
          </form>
        </div>
      </div>

    <!-- Optional JavaScript; choose one of the two! -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"
  ></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <!-- https://cdnjs.com/libraries/popper.js/2.5.4 -->
    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js"
    ></script> -->

    <!-- More: https://getbootstrap.com/docs/5.0/getting-started/introduction/ -->

    <script>
      const form=$("#forget");
      const msg=$("#msg")
      $("#submit").click(function(e){
        e.preventDefault();
        const data= form.serialize(),
        type=form.attr("method"),
        url=form.attr("action");
        $.ajax({
          type,url,data
        })
        .done((data,statusText)=>{
          if(data.isExist){
            // means user exists
            msg.text(`(${data.msg})`).addClass("text-success");
          }else{
            // not exists
            // console.log(data.msg);
            msg.text(`(${data.msg})`).addClass("text-danger");
          }
        })
        .fail((xhr,statusText)=>{console.log(statusText);})
      })
    </script>
  </body>
</html>
