@import url("/css/style.css");

body {
  /* background-color: var(--light); */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
}

.my-icon {
  color: var(--dark);
}

.btn-user {
  background-color: var(--primary);
  color: var(--light);
  font-size: 1rem;
}

.btn-user:hover {
  opacity: 0.8;
  color: var(--light);
}

form .form-control:focus {
  border-color: var(--dark);
  box-shadow: none;
}

.alert {
  position: relative;
  padding: 0.3rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.display-none {
  display: none;
}

@media (max-width: 801px) {
  .w-50 {
    min-width: 90%;
  }

  .container {
    margin: 0 auto;
  }
}

/* .input-group-text {
  background-color: transparent;
} */

/* .alert {
  position: relative;
  padding: 0.5rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}
.password-parent {
  position: relative;
}

.fa-eye,
.fa-eye-slash {
  color: #999;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
} */

/* @media (min-width: 768px) {
  .container {
    max-width: 600px;
  }
} */
