<%# TODO: Add
<script type="text/javascript" src="/script/userx/header.js"></script>
in parent file%>
<nav class="navbar navbar-light cs-navbar">
  <div class="container-fluid">
    <a
      class="navbar-brand text-white d-flex justify-content-center align-items-center"
      href="#"
    >
      <i
        class="fa fa-shopping-bag px-1"
        style="font-size: 24px"
        aria-hidden="true"
      ></i>
      <span class="fs-3"> <%= brandName %>  </span>
    </a>
  </div>
</nav>
