<nav class="navbar navbar-light cs-navbar fixed-top">
  <div class="container-fluid">
    <a
      class="navbar-brand text-white d-flex justify-content-center align-items-center"
      href="/admin"
    >
      <i
        class="fa fa-shopping-bag px-1"
        style="font-size: 24px"
        aria-hidden="true"
      ></i>
      <span style="font-size: 2rem;"> <%= brandName %> </span>
    </a>
  </div>
</nav>
